html {
	font-size: 12px;
	font-fmily: 'Ubuntu' ;
	background-color: #ffffff;
}
	h1 {
		margin: 0;
		padding: 20px 0;
		text-align: center;
		color: black;
		font-size: 30px;
		text-shadow: 1px 1px 2px black;
	}
	li {
		font-size: 20px;
		text-align: left;
		letter-spacing: 2px;
		color: orange;
		
	}
	p {
		font-size: 20px;
		color: black;
		text-align: center;
	}
	body {
		width: 900px;
		padding: 0 20px 20px 20px;
		margin: 0 auto;
		background-color: f1f1f1;
		border: 1px solid black;
	}
	